/viikko1/tehtavat14-16/NhlStatistics1/.nb-gradle/
/viikko2/tehtavat9-10/Verkkokauppa1/.nb-gradle/
/viikko2/tehtavat9-10/Verkkokauppa1/build/
/viikko2/tehtavat1-4/.nb-gradle/
/viikko2/tehtavat1-3/.nb-gradle/
/viikko2/tehtava1/.nb-gradle/