/viikko1/tehtavat14-16/NhlStatistics1/.nb-gradle/
/viikko2/tehtavat9-10/Verkkokauppa1/.nb-gradle/
/viikko2/tehtavat9-10/Verkkokauppa1/build/
/viikko2/tehtavat1-4/.nb-gradle/
/viikko2/tehtavat1-3/.nb-gradle/
/viikko2/tehtava1/.nb-gradle/
/viikko3/tehtavat1-3/.nb-gradle/
/viikko3/tehtavat4-6/HelloCucumber/.nb-gradle/
/viikko3/tehtavat4-6/HelloCucumber/build/
/viikko3/tehtavat5-6/LoginCucumber/.nb-gradle/
/viikko3/tehtavat7-11/WebLogin/.nb-gradle/